<section class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Hello!</h1>
        <p class="lead">This is a simple project where I practice Angular.js, just random, maybe when I will have time I will give it a name and real functionality. Who knows?</p>
        <hr class="my-4">
        <p>Go ahead and explore</p>


        <a class="btn btn-primary btn-lg" href="#!/form/0" role="button">Learn more 👉</a>
        <!-- <random-user users="users" title="'Random user'"></random-user> -->
    </div>
</section>