table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

table,
td,
th {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

.container input {
    background-color: rgb(221, 237, 252);
}

#menu-bar {
    background: crimson;
    color: #fff;
    padding: 10px;
}

#menu-bar h1 {
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
}

#menu-bar ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 6px 0;
}

#menu-bar li {
    float: right;
    margin-left: 20px;
}

#menu-bar a {
    color: #fff
}

.content {
    padding: 20px;
    overflow: hidden;
}


/* Animations */


/* The starting CSS styles for the enter animation */

main.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}


/* The finishing CSS styles for the enter animation */

main.ng-enter.ng-enter-active {
    opacity: 1;
}

#usersTable tr.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
    transform: translateY(30px)
}

#usersTable tr.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0)
}

#usersTable tr.ng-leave {
    transition: 0.7s linear all;
    opacity: 1;
    transform: translateX()
}

#usersTable tr.ng-leave.ng-leave-active {
    opacity: 0s;
    transform: translateX(-100%)
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input[disabled="disabled"] {
    opacity: 0.4;
    cursor: not-allowed!important;
}

.submit {
    text-align: center;
}